<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-feature
        android:name="android.hardware.telephony"
        android:required="false" />

    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCELEROMETER" />
    <uses-permission android:name="android.permission.SEND_EMAIL" />
    <uses-permission android:name="android.permission.SEND_SMS" />


    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MD_project_3053643"
        tools:targetApi="31">
        <activity
            android:name=".Warning"
            android:exported="false"
            android:label="Warning"
            android:theme="@style/Theme.MD_project_3053643" />
        <activity
            android:name=".SpeedDrive"
            android:exported="false"
            android:label="SpeedDrive"
            android:theme="@style/Theme.MD_project_3053643" />
        <activity
            android:name=".Register"
            android:exported="false"
            android:label="Register"
            android:theme="@style/Theme.MD_project_3053643" />
        <activity
            android:name=".Contact"
            android:exported="true"
            android:label="Contact"
            android:theme="@style/Theme.MD_project_3053643" />
        <activity
            android:name=".Login"
            android:exported="true"
            android:label="Login"
            android:theme="@style/Theme.MD_project_3053643">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:label="Main"
            android:theme="@style/Theme.MD_project_3053643" />
    </application>

</manifest>